[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group find7 maintainers
	push = group find7 maintainers
	label-Code-Review = -2..+2 group find7 maintainers
	label-Verified = -1..+1 group find7 maintainers
	submit = group find7 maintainers
